.aside-nemu
    ul.nav-menu 
        li
            a(href="#about") О кондитере
        li
            a(href="#benefits") Преимущества
        li 
            a(href="#products") Продукция
        li 
            a(href="#reviews") Отзывы
        li 
            a(href="#contacts") Контакты