.about {
    padding-top: 124px;
    padding-bottom: 245px;

    @media (max-width: 1199px) {
        padding-top: 80px;
        padding-bottom: 60px;
    }

    @media (max-width: 767px) {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

.about .container {
    position: relative;
}

.about__img {
    position: absolute;
    top: -100px;
    left: -277px;
    z-index: -1;

    @media (max-width: 1199px) {
        display: none;
    }
}

.about__img img {
    max-width: 100%;
    object-fit: cover;
}

.about__title {
    margin-bottom: 94px;

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.about__content {
    display: flex;
    align-items: center;
    gap: 34px;

    @media (max-width: 767px) {
        flex-direction: column-reverse;

    }
}

.about__text p {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.about__text p+p {
    margin-top: 1em;
}

.about__portrait {
    width: 343px;
    flex-shrink: 0;
}

.about__portrait img {
    width: 343px;
    height: 515px;
    border-radius: 80px;
    border: 3px solid #00B09B;
    object-fit: cover;
}