.header-banner {
    padding-top: 177px;
    padding-bottom: 135px;
    background-image: var(--gradient);

    @media (max-width: 991px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    @media (max-width: 767px) {
        padding-top: 36px;
        padding-bottom: 41px;
    }
}

.header-banner-wrapper {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header-banner-col {
    position: relative;
    max-width: 532px;
}

.header-banner__title {
    margin-bottom: 30px;
}

.header-banner__text {
    p {
        font-size: 16px;
        line-height: 1.7;

        @media (max-width: 490px) {
            font-size: 14px;
        }
    }
}

.header-banner__btns {
    margin-top: 57px;
    display: flex;
    column-gap: 30px;

    @media (max-width: 572px) {
        flex-direction: column;
        row-gap: 16px;
    }
}

.header-banner__img {
    position: absolute;
    top: 62px;
    right: 0;

    @media (max-width: 1199px) {
        display: none;
      }
}

.header-banner__img img {
    animation-name: swingElement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes swingElement{
    0%{
        transform: translateY(-3%);
    }

    100%{
        transform: translateY(3%);
    }
}