.header-banner {
    padding-top: 177px;
    padding-bottom: 135px;
    background-image: var(--gradient);
}

.header-banner-wrapper {
    display: flex;
    gap: 70px;
    align-items: center;
}

.header-banner-col {
    position: relative;
    max-width: 532px;
}

.header-banner__title {
    margin-bottom: 30px;
}

.header-banner__text {
    p {
        font-size: 16px;
        line-height: 1.7;
    }
}

.header-banner__btns {
    margin-top: 57px;
    display: flex;
    gap: 30px;
}

.header-banner__img {
    position: absolute;
    top: 62px;
    right: 0;
}

.header-banner__img img {
    animation-name: swingElement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes swingElement{
    0%{
        transform: translateY(-3%);
    }

    100%{
        transform: translateY(3%);
    }
}