.header {
    padding: 40px 0 36px;

    @media (max-width: 991px) {
        padding: 20px 0 27px;
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    flex-shrink: 0;
    width: 64px;

    @media (max-width: 991px) {
        width: 50px;
    }

    @media (max-width: 490px) {
        width: 30px;
    }
}

.header__nav {
    flex-grow: 1;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 991px) {
        display: none;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 25px;
   
    a {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        line-height: normal;
        color: #000;
    }

    a:hover,
    a.active {
        color: var(--accent-green);
    }
}


.header__social {
    display: flex;
    align-items: center;
    gap: 62.5px;

    @media (max-width: 490px) {
        flex-direction: row-reverse;
        gap: 29px;
    }
}

.header__phone {
    flex-shrink: 0;

    a {
        font-size: 14px;
        color: #000;
        white-space: nowrap;
    }

    a:hover,
    a.active {
        color: var(--accent-green);
    }
}