.reviews {
    padding-top: 182px;
    padding-bottom: 82px;
    position: relative;
    background-image: url("../img/review-bg.webp");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.reviews__title {
    text-align: center;
    margin-bottom: 89px;
}

.reviews-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    row-gap: 60px;
}