section.benefits#benefits
    .container 
        .benefits__title 
            h2.h2(data-title = "Преимущества") Преимущества
        .benefits__content
            +benefit("01", "Используются только натуральные ингредиенты без полуфабрикатов")
            +benefit("02", "Авторская работа и оригинальный дизайн")
            +benefit("03", "Более 2500 клиентов, 1000 положительных отзывов")
            +benefit("04", "Бесплатная доставка по Москве при заказе от 2 000 рублей")
        .benefits__img 
            img(src="./img/benefits-img.webp", alt="benefits-img")