section.header-banner.none
    .container
        .header-banner-wrapper
            .header-banner-col
                .header-banner__title 
                    h1.h1 Полезные десерты из натуральных продуктов
                .header-banner__text 
                    p Приготовим и привезем за 1 день. Все товары везем в холодильнике. Работаем по Москве и Московской области.
                .header-banner__btns
                    button.btn-calc Рассчитать стоимость
                    button.btn-more Подробнее
            .header-banner__img 
                    img(src="./img/header-img.webp", alt="header-img")
