.modal-frame-wrapper(frame-modal="order-form")
    .modal-frame
        .modal-frame-body 
            h2.modal-frame-title Оформление заказа 
            form.order-form(action="")
                .product-info
                    .product-info__img 
                        img(src="./img/products/01.webp", alt="product img")
                    .product-info-desc 
                        .product-info__name Клубничка
                        .product-info__text Клубника, шоколад, сахар, мука, яйца, сливки, сливочный сыр.
                    .items-counter-wrapper
                        button.items__control(data-action="minus") -
                        .items__current(data-counter) 1
                        button.items__control(data-action="plus") +
                        input(type="hidden", name="count", class="form-control" value="1")
                        .product-info__text кг
                    .product-info-price 
                        .product-info__text Cтоимость
                        .product-info__price 800 руб
                .person-info
                    .form-title Заполните форму
                    .form-item
                        input(class="form-input" type="text" name="name" placeholder="Ваше имя")
                    .form-item
                        input(class="form-input" type="text" name="tel" placeholder="Ваш телефон")
                    .form-item
                        input(class="form-input" type="text" name="order" placeholder="Адрес доставки и комментарий к заказу")
                    
                    .form-item.checkbox
                        input(type="checkbox" name="agree").real-checkbox
                        span.custom-checkbox 
                        span.checkbox-text
                            | Нажимая на кнопку "Оформить заказ", Вы даёте согласие на
                            a(href="#!")  обработку своих персональных данных
                            |  и соглашаетесь 
                            a(href="#!")  с политикой конфиденциальности
                    .form-item
                        button(type="submit" frame-close class="btn-gradient") Оформить заказ
        


            