section.reviews.none#reviews
    .container
        .reviews__title 
            h2.h2(data-title = "Отзывы") Отзывы
        .scroll-wrapper
            .reviews-content
                +review("01", "Георгий", "Остались очень довольны! Очень красивый был торт: и снаружи, и внутри.")
                +review("02", "Екатерина", "Шоколадный торт по случаю Дня Рождения был ну ооочень вкусный и свежий. Гости в восторге просили добавки!")
                +review("03", "Елена", "Заказали торт с капкейками на свадьбу. Все было очень вкусно и красиво")
                +review("04", "Валери", "Мне все очень понравилось. А особенно джамбори вишневый,торт морковный. Буду заказывать еще!")
                +review("05", "Денис", "Заказал родным здесь торт, и честно ни капельки не пожалел об этом. Торт получился оригинальный с дизайнерской ноткой.")
                +review("06", "Вика", "Остались очень довольны!Очень красивый был торт: и снаружи, и внутри.")