mixin benefit(img, text, title="benefit")
    .benefits-item
        .benefits-item__img
            img(src="./img/benefits/" + img + ".webp", alt= title) 
        .benefits-item__text 
            p #{text}