extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	include ../sections/header-banner.pug
	include ../sections/about.pug
	include ../sections/benefits.pug
	include ../sections/products.pug
	include ../sections/reviews.pug
	include ../sections/contacts.pug
	include ../sections/footer.pug
	include ../sections/modal-order.pug
	include ../sections/modal-faq.pug
	include ../sections/modal-politics.pug
	include ../sections/modal-personal.pug
	
	
	

